<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Hey there, I'm Oliver.</h1>
                <h3>I'm an Evangelist at Amazon Web Services covering Germany and write, speak and teach about everything cloud and web related.</h3>
                <h5>Views expressed on this site are my own and not neccessarily those of AWS.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/me-circle2.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
